# default
# https://cs.android.com/android-studio/platform/tools/adt/idea/+/mirror-goog-studio-main:android/resources/templates/project/project_ignore
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Additional
.Spotlight-V100
.Trashes
._*
/.idea/compiler.xml
/.idea/copilot.*.xml
/.idea/copyright
/.idea/dictionaries
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/libraries-with-intellij-classes.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/sonarlint
/.idea/sonarlint.xml
/.idea/uiDesigner.xml
/gradle/libs.versions.updates.toml
Thumbs.db
ehthumbs.db
