*.iml
.gradle
/local.properties
/.idea/caches
/.idea/copyright
/.idea/dictionaries
/.idea/libraries
/.idea/encodings.xml
/.idea/kotlinc.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
/.idea/compiler.xml
/.idea/uiDesigner.xml
/.idea/runConfigurations.xml
/.idea/libraries-with-intellij-classes.xml
/.idea/sonarlint
/.idea/sonarlint.xml
.DS_Store
/build
/captures
.externalNativeBuild
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
